# MySQL Configuration
MYSQL_ROOT_PASS=super_secure_root_password
MYSQL_USER=hw_admin
MYSQL_PASS=super_secure_root_password
MYSQL_DB=goit_rdb_hw05

# PostgreSQL Configuration
PG_USER=hw_user
PG_PASS=hw_password
PG_DB=goit_rdb_hw05
